@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body {
    font-family: "Noto Sans", sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
}

header {
    text-align: center;
    width: 100%;
}

header .title,
header .subtitle {
    background-color: black;
    color: white;
}

header .title {
    font-size: 1.25em;
}

header .subtitle {
    font-size: 0.8em;
}
